* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

.main {
    height: 200px;
    width: 1236px;
    /* border: 2px solid black */
    background-color: #e1e5f2;
    color: #0d1b2a;
    position: relative;
    padding-left: 300px; 
    padding-top: 120px;
    font-size: 25px;
    
}
 
.img {
    height: 200px;
    width: 280px;
    border: 2px solid #2f3e46;
    position: absolute; 
    right: 380px;        
    top: 50%;           
    transform: translateY(-50%); 
    border-radius: 20px;
    background-image: url("apu.png");
    background-size: cover;
    
}
.about {
    height: 80px;
    width: 1390px;
    background-color: #2f3e46;
    color: azure;
    font-size: 20px;
    padding-left: 150px; 
    display: flex;        
    align-items: center;  
    gap: 30px;
}

.about h1 {
    font-size: 28px;      
    margin: 0;            
}
.about h5 {
     font-size: 18px;
     margin: 0;
}
.projects {
    height: 320px;
    width: 1360px;
    /* border: 2px solid #0d1b2a; */
    color: #000;
    display: flex;
    padding-left: 160px;
    padding-top: 100px;
    gap: 30px;
    
    
}
.box {
    height: 270px;
    width: 250px;
    background-color: #cad2c5;
    color: #0d1b2a;
    border: 2px solid black;
    text-align: center;
    font-size: 12px;
    border-radius: 9px;
      transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}
.projects h2 {
    font-size: 40px;
    color: #0d1b2a;
    text-align: center;
}
.box h4 {
    font-size: 30px;
    font-family: 'sans-serif';
     padding-top: 10px;
}
.box p {
    padding-top: 10px;
    font-size: 14px;
}
.box:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    background-color: #b0c4b1; 
    cursor: pointer;
}
.box h5 {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     padding-top: 10px;
}
a {
  color: #00bfff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ff4b2b;
  text-decoration: underline;
}

.skills {
    width: 100%;
    /* border: 1px solid #0d1b2a; */
    color: #0d1b2a;
    box-sizing: border-box;
     text-align: center;
}

.skills h1 {
    font-size: 40px;
    font-family: 'Gill Sans', sans-serif;
    margin-bottom: 30px;
    left: 20px;
     text-align: left;
    margin-left: 170px;
    margin-top: 10px;
}


.skills-container {
    display: flex;
    gap: 300px; 
       justify-content: center; 
    gap: 150px;
}


.skills-box h2 {
    font-size: 28px;
    font-family: 'Gill Sans', sans-serif;
    margin-bottom: 10px;
}

.skills-box ul {
    list-style: none;
    padding-left: 0;
}

.skills-box ul li {
    font-size: 20px;
    margin-bottom: 8px;
    transition: transform 0.3s;
}
.skills-box ul {
    list-style-type: disc; 
    padding-left: 40px; 
    text-align: left;
}
.contact {
    height: 300px;
    width: 100%;
    background-color: #e1e5f2;;
}
.contact h1 {
    padding-left: 170px;
    margin-top: 10px;
}
.contact p{
    padding-left: 190px;
    font-size: 20px;
    margin-top: 30px;
}
.contact h5{
    padding-left: 190px;
    font-size: 20px;
    margin-top: 15px;

}
